@use '../../common/scss/variables.scss';
@use 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  color: variables.$color-white;
  text-align: center;
  background-color: variables.$color-background;
}

img {
  image-rendering: -webkit-optimize-contrast; // Improve resized images in chrome
}

a {
  color: variables.$color-white;

  &:hover {
    color: variables.$color-white;
  }
}

.no-projects {
  padding: 2rem;
}
