@use '../../common/scss/mixins.scss';
@use '../../common/scss/variables.scss';

.light-youtube {
  color: variables.$color-youtube-play;
  cursor: pointer;
  @include mixins.transition(0.3s all);

  &:hover {
    color: variables.$color-youtube-play-hover;
  }

  .play-button {
    font-size: 72px;
    position: absolute;
    width: 1.125em;
  }

  .play-button-centre {
    color: white;
    font-size: 26px;
    position: absolute;
    margin-left: 2px;
    width: 0.875em;
  }

  .ratio {
    @include mixins.display-flex();
    justify-content: center;
    align-items: center;
    overflow: hidden;

    * {
      top: auto;
      bottom: auto;
      left: auto;
      height: auto;
    }
  }
}
