@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
@import 'mixins.scss';
@import 'variables.scss';

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  color: $color-white;
  text-align: center;
  background-color: $color-background;
}

a {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}
