@import 'mixins.scss';
@import 'variables.scss';
@import 'bootstrap/scss/bootstrap';

body {
  font-family: $font;
  color: $color-white;
  text-align: center;
  background-color: $color-background;
}

a {
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}
