@import 'variables.scss';

.clickable:hover {
  cursor: pointer;
}

.col-padding {
  padding-bottom: 15px;
  padding-top: 15px;
}

.card-img-top {
  background-color: $color-background;
}
