@import 'variables.scss';

.projectContainer {
  border-width: 1px;
  border-style: solid;
  border-color: $color-white;
  width: 49%;
  box-sizing: border-box;
  margin: 0.5%;
  cursor: pointer;
}

.imageContainer {
  padding: 0 10%;

  img {
    max-width: 100%;
  }
}
